@import "./variables.scss";
@import "./range.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@media (max-width: $tablet-width) {
  html, body {
    overflow-x: hidden;
    max-width: 100%;
  }
}
